<h1>Welcome#about</h1>
<div class="container"
<button class="social-btn"><%= link_to "Follow me", "https://www.facebook.com/trybloc" %></button>
</div>
<p>Find me in app/views/welcome/about.html.erb</p>
